@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: black;
    color: white;
  }
  
  code {
    font-family: 'Poppins', sans-serif;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: white;
  }
  
  /* Import font Creepster */
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
  
  .creepy-text {
    font-family: 'Creepster', cursive; /* Gunakan font Creepster */
    color: #ff7518; /* Warna oranye cerah */
    text-shadow: 2px 2px 10px #ffffff, 0 0 20px #ff7518, 0 0 5px #ff7518; /* Efek bayangan lebih kuat */
    transition: all 0.3s ease-in-out; /* Transisi halus */
  }
  
  .creepy-text:hover {
    transform: scale(1.1); /* Efek zoom saat hover */
    text-shadow: 4px 4px 20px #ffffff, 0 0 30px #ff7518, 0 0 10px #ff7518; /* Bayangan lebih terang saat hover */
  }
  